<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :suburb %>
    <%= form.text_area :suburb %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_area :type %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :yearbuilt %>
    <%= form.number_field :yearbuilt %>
  </div>

  <div class="field">
    <%= form.label :councilarea %>
    <%= form.text_area :councilarea %>
  </div>

  <div class="field">
    <%= form.label :lattitude %>
    <%= form.text_field :lattitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :regionname %>
    <%= form.text_area :regionname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
