<p id="notice"><%= notice %></p>

<p>
  <strong>Suburb:</strong>
  <%= @property.suburb %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @property.ptype %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Yearbuilt:</strong>
  <%= @property.yearbuilt %>
</p>

<p>
  <strong>Councilarea:</strong>
  <%= @property.councilarea %>
</p>

<p>
  <strong>Lattitude:</strong>
  <%= @property.lattitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @property.longitude %>
</p>

<p>
  <strong>Regionname:</strong>
  <%= @property.regionname %>
</p>

<%=button_to 'Add to Cart', line_items_path(property_id: @property.id)%>

<%= link_to 'Back', properties_path %>
