<div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">Melbourne Housing Market</h1>
      </div>
  </div>
<div class="search">
  <%= form_tag properties_path, :method => 'get' do %>
  <%= content_tag :label do %>
    Search for an address:
    <%= text_field_tag :search, params[:search] %>
  <% end %>
<% end %>
</div>
  <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @properties %>
      </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Address</th>
              <th scope="col">Suburb</th>
              <th scope="col">Type</th>
              <th scope="col">Price</th>
              <th scope="col">Year Built</th>
              <th scope="col">Suburb</th>
              <th scope="col">Location</th>
              <th scope="col">Region name</th>
              <th scope="col">Buy now!</th>
            </tr>
          </thead>
          <tbody>
<% @properties.each do |prop| %>
            <tr>
              <td><%=link_to prop.address, property_path(prop.id)%></td>
              <td><%=prop.suburb%></td>
              <%case prop.ptype when 't'%><td>Townhouse</td>
              <%when 'u'%><td>Unit</td>
              <%when 'h'%><td>House</td>
              <%end%>
              <td><%=number_to_currency(prop.price)%></td>
              <td><%=prop.yearbuilt%></td>
              <td><%=prop.suburb%></td>
              <td><%=prop.lattitude%>/<%=prop.longitude%></td>
              <td><%=prop.regionname%></td>
              <td><%=button_to 'Add to Cart', line_items_path(property_id: prop.id)%></td>
            </tr>
<%end%>
      </table>
      <%=will_paginate @properties%>
    </div>
</div>
