<h3>Current Weather in Melbourne <img src="http://openweathermap.org/img/wn/<%=@request['weather'][0]['icon']%>@2x.png"/></h3><br />
<i><b>Overall:</b></i> <%=@request['weather'][0]['main']%> - <%=@request['weather'][0]['description']%> <br />
<i><b>Current Temperature:</b></i> <%=@request['main']['temp']%>째C<br />
<i><b>Pressure:</b></i> <%=@request['main']['pressure']%> mb<br />
<i><b>Humidity:</b></i> <%=@request['main']['humidity']%> %<br />
<i><b>Temperature range:</b></i> <%=@request['main']['temp_min']%>째C - <%=@request['main']['temp_max']%>째C<br />
<i><b>Wind speed:</b></i> <%=@request['wind']['speed']%> m/s; direction: <%=@request['wind']['deg']%>째<br />
